<div *ngIf="ismenuvisible">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Angular 16 Authentication - NGRX</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/login">Logout</button>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
                </mat-list-item>
                <mat-list-item *ngFor="let item of menulist">
                    <button mat-button routerLink="{{item.menu}}"><mat-icon>verified_user</mat-icon>{{item.menu}}</button>
                </mat-list-item>
                <!-- <mat-list-item>
                    <button mat-button routerLink="customer"><mat-icon>verified_user</mat-icon>Customer</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="user"><mat-icon>verified_user</mat-icon>User</button>
                </mat-list-item> -->
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div style="text-align: center;min-height: 600px;" *ngIf="!ismenuvisible">
    <router-outlet></router-outlet>
</div>
