mat-card{
    margin: 2%;
    text-align: left;
    width: 90%;
    border: 1px solid #ccc;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}
.mat-50{
    width: 48%;
    margin: 1%;
}
.div-50{
    width: 48%;
    margin: 1%;
    display: inline;
}

button{
    margin: 2px;
}
.mat-mdc-raised-button{
    width: 100%;
}