<mat-card style="min-height: 500px;">
    <mat-card-header>
        <h1>NESTED TABLE</h1>
    </mat-card-header>
    <mat-card-content>

        <table mat-table matSort [dataSource]="datasource" class="mat-elevation-z8" multiTemplateDataRows>
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of columnsToDisplay">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{innerColumn | titlecase}}</th>
                <td mat-cell *matCellDef="let element">{{element[innerColumn]}}</td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">

                    <div class="example-element-detail"
                        [@detailExpand]="element===expandedElement?'expanded':'collapsed'" *ngIf="element.hasbranches">
                        <h2>Branches</h2>
                        <table #innertable mat-table matSort #innerSort="matSort"  [dataSource]="element.branches" class="mat-elevation-z8 inner-table">
                            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of branchToDisplay">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{innerColumn | titlecase}}</th>
                                <td mat-cell *matCellDef="let element">{{element[innerColumn]}}</td>
                            </ng-container>
                            <tr style="background-color: #ccc;color: white;" mat-header-row
                                *matHeaderRowDef="branchToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns:branchToDisplay"></tr>
                        </table>
                    </div>
                    <div class="example-element-detail"
                        [@detailExpand]="element===expandedElement?'expanded':'collapsed'" *ngIf="element.hasemployee">
                        <h2>Employee</h2>
                        <table #innertableemp mat-table matSort [dataSource]="element.employee" class="mat-elevation-z8 inner-table">
                            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of employeeToDisplay">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef>{{innerColumn | titlecase}}</th>
                                <td mat-cell *matCellDef="let element">{{element[innerColumn]}}</td>
                            </ng-container>
                            <tr style="background-color: #ccc;color: white;" mat-header-row
                                *matHeaderRowDef="employeeToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns:employeeToDisplay"></tr>
                        </table>
                    </div>


                </td>
            </ng-container>
            <tr style="background-color: black;color: white;" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns:columnsToDisplay" (click)="toggle(element)"></tr>
            <tr mat-row *matRowDef="let row; columns:['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </mat-card-content>
    <br>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>