<mat-card style="min-height: 500px;">
    <mat-card-header>
        <h1>Customer Listing</h1>
        <button (click)="FunctionAdd()" mat-raised-button color="primary" style="margin-left: 70%;">Add Customer
            (+)</button>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errormessage">
            <h1>{{errormessage}}</h1>
        </div>
        <table *ngIf="!errormessage" matSort mat-table [dataSource]="datasource" class="mat-elevation-z8">
            <ng-container matColumnDef="code">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Code</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element">{{element.phone}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>
            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef>Associate Group</th>
                <td mat-cell *matCellDef="let element">{{element.associategroup}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Associate Type</th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status==true?'Active':'In Active'}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="FunctionEdit(element.id)" mat-raised-button color="primary">Edit</button>
                    <button (click)="FunctionDelete(element.id)" mat-raised-button color="accent">Delete</button>
                </td>
               
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColums"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator *ngIf="!errormessage" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>